
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/FileContentIndex/d5c1f9c0-fda7-41cd-9fe6-e7c4d091286d.vsidx
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/FileContentIndex/95db5355-b059-46b8-975d-5fb297777257.vsidx
