
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/FileContentIndex/d5c1f9c0-fda7-41cd-9fe6-e7c4d091286d.vsidx
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/FileContentIndex/95db5355-b059-46b8-975d-5fb297777257.vsidx
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/obj/Debug/EntradaSaida.pdb
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/v17/.suo
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/obj/Debug/EntradaSaida.exe
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/obj/Debug/EntradaSaida.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/bin/Debug/EntradaSaida.pdb
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/bin/Debug/EntradaSaida.exe
Udemy/CSharp/Aula1/EntradaSaida/.vs/EntradaSaida/v17/.suo
Udemy/CSharp/Aula1/EntradaSaida/.vs/EntradaSaida/FileContentIndex/069ee460-d78b-4e80-ad23-4fefc1191b4f.vsidx
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/v17/.suo
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/v17/.suo
Udemy/CSharp/Aula1/InverterNomes/InverterNomes/obj/Debug/InverterNomes.exe
Udemy/CSharp/Aula1/InverterNomes/InverterNomes/obj/Debug/InverterNomes.pdb
Udemy/CSharp/Aula1/InverterNomes/InverterNomes/obj/Debug/InverterNomes.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/InverterNomes/InverterNomes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/InverterNomes/InverterNomes/bin/Debug/InverterNomes.pdb
Udemy/CSharp/Aula1/InverterNomes/InverterNomes/bin/Debug/InverterNomes.exe
Udemy/CSharp/Aula1/InverterNomes/.vs/InverterNomes/v17/.suo
Udemy/CSharp/Aula1/InverterNomes/.vs/InverterNomes/FileContentIndex/adaa57a5-3ae8-433c-9155-70603018ff48.vsidx
Udemy/CSharp/Aula1/Conversao/.vs/Conversao/FileContentIndex/0066bafe-c89a-4776-b93f-fc690e3e02ba.vsidx
Udemy/CSharp/Aula1/Conversao/.vs/Conversao/v17/.suo
Udemy/CSharp/Aula1/Conversao/Conversao/bin/Debug/Conversao.exe
Udemy/CSharp/Aula1/Conversao/Conversao/bin/Debug/Conversao.pdb
Udemy/CSharp/Aula1/Conversao/Conversao/obj/Debug/Conversao.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/Conversao/Conversao/obj/Debug/Conversao.exe
Udemy/CSharp/Aula1/Conversao/Conversao/obj/Debug/Conversao.pdb
Udemy/CSharp/Aula1/Conversao/Conversao/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/Conversao/.vs/Conversao/FileContentIndex/cfb67515-96b3-4792-9212-6e43d5aa5f95.vsidx
Udemy/CSharp/Aula1/Conversao/.vs/Conversao/FileContentIndex/8b5ac5b1-a5fd-4d4b-9bfe-cdfa9edf0672.vsidx
Udemy/CSharp/Aula1/Operadores/.vs/Operadores/FileContentIndex/b40c25dd-ca8f-46fe-9bea-aa35edfa5647.vsidx
Udemy/CSharp/Aula1/Operadores/.vs/Operadores/v17/.suo
Udemy/CSharp/Aula1/Operadores/Operadores/bin/Debug/Operadores.exe
Udemy/CSharp/Aula1/Operadores/Operadores/bin/Debug/Operadores.pdb
Udemy/CSharp/Aula1/Operadores/Operadores/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/Operadores/Operadores/obj/Debug/Operadores.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/Operadores/Operadores/obj/Debug/Operadores.exe
Udemy/CSharp/Aula1/Operadores/Operadores/obj/Debug/Operadores.pdb
Udemy/CSharp/Aula1/Operadores/.vs/Operadores/FileContentIndex/6ab59114-d9bf-4932-bb08-de3a69d8f9ab.vsidx
Udemy/CSharp/Aula1/ConversorTemperaturas/ConversorTemperaturas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/ConversorTemperaturas/ConversorTemperaturas/obj/Debug/ConversorTemperaturas.pdb
Udemy/CSharp/Aula1/ConversorTemperaturas/ConversorTemperaturas/obj/Debug/ConversorTemperaturas.exe
Udemy/CSharp/Aula1/ConversorTemperaturas/ConversorTemperaturas/bin/Debug/ConversorTemperaturas.pdb
Udemy/CSharp/Aula1/ConversorTemperaturas/ConversorTemperaturas/bin/Debug/ConversorTemperaturas.exe
Udemy/CSharp/Aula1/ConversorTemperaturas/.vs/ConversorTemperaturas/v17/.suo
Udemy/CSharp/Aula1/ConversorTemperaturas/.vs/ConversorTemperaturas/FileContentIndex/6c78d261-72ca-4bef-9226-92b9c333caca.vsidx
Udemy/CSharp/Aula1/TipoArray/.vs/TipoArray/FileContentIndex/6aa36ef9-71da-46eb-96a8-18e3d196b8a1.vsidx
Udemy/CSharp/Aula1/TipoArray/.vs/TipoArray/v17/.suo
Udemy/CSharp/Aula1/TipoArray/TipoArray/bin/Debug/TipoArray.exe
Udemy/CSharp/Aula1/TipoArray/TipoArray/bin/Debug/TipoArray.pdb
Udemy/CSharp/Aula1/TipoArray/TipoArray/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/TipoArray/TipoArray/obj/Debug/TipoArray.exe
Udemy/CSharp/Aula1/TipoArray/TipoArray/obj/Debug/TipoArray.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/TipoArray/TipoArray/obj/Debug/TipoArray.pdb
Udemy/CSharp/Aula1/TipoArray/.vs/TipoArray/FileContentIndex/c51c009a-0d0e-4b68-9b89-a15bca091c22.vsidx
Udemy/CSharp/Aula1/Condicao/Condicao/bin/Debug/Condicao.exe
Udemy/CSharp/Aula1/Condicao/.vs/Condicao/FileContentIndex/5d5d7e1e-693f-4d02-9ed0-7759b70c9610.vsidx
Udemy/CSharp/Aula1/Condicao/.vs/Condicao/v17/.suo
Udemy/CSharp/Aula1/Condicao/Condicao/bin/Debug/Condicao.pdb
Udemy/CSharp/Aula1/Condicao/Condicao/obj/Debug/Condicao.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/CalcularIMC/CalcularIMC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/CalcularIMC/CalcularIMC/obj/Debug/CalcularIMC.pdb
Udemy/CSharp/Aula1/CalcularIMC/CalcularIMC/obj/Debug/CalcularIMC.exe
Udemy/CSharp/Aula1/CalcularIMC/CalcularIMC/obj/Debug/CalcularIMC.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/CalcularIMC/CalcularIMC/bin/Debug/CalcularIMC.pdb
Udemy/CSharp/Aula1/CalcularIMC/CalcularIMC/bin/Debug/CalcularIMC.exe
Udemy/CSharp/Aula1/CalcularIMC/.vs/CalcularIMC/v17/.suo
Udemy/CSharp/Aula1/CalcularIMC/.vs/CalcularIMC/FileContentIndex/76e0d06d-fe85-4c6f-a516-6d007156a339.vsidx
Udemy/CSharp/Aula1/Controle/.vs/Controle/FileContentIndex/a0ee744f-2b7c-43d4-a41c-f2af2c4b069a.vsidx
Udemy/CSharp/Aula1/Controle/.vs/Controle/v17/.suo
Udemy/CSharp/Aula1/Controle/Controle/bin/Debug/Controle.pdb
Udemy/CSharp/Aula1/Controle/Controle/bin/Debug/Controle.exe
Udemy/CSharp/Aula1/Controle/Controle/obj/Debug/Controle.exe
Udemy/CSharp/Aula1/Controle/Controle/obj/Debug/Controle.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/Controle/Controle/obj/Debug/Controle.pdb
Udemy/CSharp/Aula1/Controle/Controle/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/Calculadora/.vs/Calculadora/FileContentIndex/4bc65d9f-d24a-405a-969c-b3806e8804dc.vsidx
Udemy/CSharp/Aula1/Calculadora/.vs/Calculadora/v17/.suo
Udemy/CSharp/Aula1/Calculadora/Calculadora/bin/Debug/Calculadora.exe
Udemy/CSharp/Aula1/Calculadora/Calculadora/bin/Debug/Calculadora.pdb
Udemy/CSharp/Aula1/Calculadora/Calculadora/obj/Debug/Calculadora.exe
Udemy/CSharp/Aula1/Calculadora/Calculadora/obj/Debug/Calculadora.pdb
Udemy/CSharp/Aula1/Calculadora/Calculadora/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/Ciclos/Ciclos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/Ciclos/Ciclos/obj/Debug/Ciclos.pdb
Udemy/CSharp/Aula1/Ciclos/Ciclos/obj/Debug/Ciclos.exe
Udemy/CSharp/Aula1/Ciclos/Ciclos/obj/Debug/Ciclos.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/Ciclos/Ciclos/bin/Debug/Ciclos.pdb
Udemy/CSharp/Aula1/Ciclos/Ciclos/bin/Debug/Ciclos.exe
Udemy/CSharp/Aula1/Ciclos/.vs/Ciclos/v17/.suo
Udemy/CSharp/Aula1/Ciclos/.vs/Ciclos/FileContentIndex/15f75dbc-11d7-4df8-98ba-066bd7394936.vsidx
Udemy/CSharp/Aula1/Fibonacci/Fibonacci/obj/Debug/Fibonacci.pdb
Udemy/CSharp/Aula1/Fibonacci/Fibonacci/obj/Debug/Fibonacci.exe
Udemy/CSharp/Aula1/Fibonacci/Fibonacci/obj/Debug/Fibonacci.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/Fibonacci/Fibonacci/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/Fibonacci/Fibonacci/bin/Debug/Fibonacci.pdb
Udemy/CSharp/Aula1/Fibonacci/Fibonacci/bin/Debug/Fibonacci.exe
Udemy/CSharp/Aula1/Fibonacci/.vs/Fibonacci/v17/.suo
Udemy/CSharp/Aula1/Fibonacci/.vs/Fibonacci/FileContentIndex/b9dce141-cbf6-4cc2-a925-8fc996e798f5.vsidx
Udemy/CSharp/Aula1/POO/TipoDelegate/obj/Debug/TipoDelegate.exe
Udemy/CSharp/Aula1/POO/TipoDelegate/obj/Debug/TipoDelegate.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/POO/TipoDelegate/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/POO/TipoDelegate/bin/Debug/TipoDelegate.pdb
Udemy/CSharp/Aula1/POO/TipoDelegate/bin/Debug/TipoDelegate.exe
Udemy/CSharp/Aula1/POO/TermoThis/obj/Debug/TermoThis.pdb
Udemy/CSharp/Aula1/POO/TermoThis/obj/Debug/TermoThis.exe
Udemy/CSharp/Aula1/POO/TermoThis/obj/Debug/TermoThis.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/POO/TipoDelegate/obj/Debug/TipoDelegate.pdb
Udemy/CSharp/Aula1/POO/TermoThis/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/POO/.vs/POO/FileContentIndex/55d8e693-a79d-4763-911a-d0114f7e0f8a.vsidx
Udemy/CSharp/Aula1/POO/.vs/POO/FileContentIndex/68fffc94-41bb-4cef-a191-c4962a2df0d7.vsidx
Udemy/CSharp/Aula1/POO/.vs/POO/FileContentIndex/77a1b98a-f0e5-4cda-8b0e-f55b06e1ab0c.vsidx
Udemy/CSharp/Aula1/POO/.vs/POO/FileContentIndex/dc67738e-8d0c-4b56-8fe2-232a0156f801.vsidx
Udemy/CSharp/Aula1/POO/.vs/POO/FileContentIndex/e23a416f-87cc-427e-b4a3-a6ac8048422d.vsidx
Udemy/CSharp/Aula1/POO/.vs/POO/v17/.suo
Udemy/CSharp/Aula1/POO/ClassesObjetos/bin/Debug/ClassesObjetos.exe
Udemy/CSharp/Aula1/POO/ClassesObjetos/bin/Debug/ClassesObjetos.pdb
Udemy/CSharp/Aula1/POO/ClassesObjetos/obj/Debug/ClassesObjetos.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/POO/ClassesObjetos/obj/Debug/ClassesObjetos.exe
Udemy/CSharp/Aula1/POO/ClassesObjetos/obj/Debug/ClassesObjetos.pdb
Udemy/CSharp/Aula1/POO/ClassesObjetos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/POO/MetodosDasClasses/bin/Debug/MetodosDasClasses.exe
Udemy/CSharp/Aula1/POO/MetodosDasClasses/bin/Debug/MetodosDasClasses.pdb
Udemy/CSharp/Aula1/POO/MetodosDasClasses/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/POO/MetodosDasClasses/obj/Debug/MetodosDasClasses.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/POO/MetodosDasClasses/obj/Debug/MetodosDasClasses.exe
Udemy/CSharp/Aula1/POO/MetodosDasClasses/obj/Debug/MetodosDasClasses.pdb
Udemy/CSharp/Aula1/POO/TermoThis/bin/Debug/TermoThis.exe
Udemy/CSharp/Aula1/POO/TermoThis/bin/Debug/TermoThis.pdb
