
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/FileContentIndex/d5c1f9c0-fda7-41cd-9fe6-e7c4d091286d.vsidx
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/FileContentIndex/95db5355-b059-46b8-975d-5fb297777257.vsidx
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/obj/Debug/EntradaSaida.pdb
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/v17/.suo
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/obj/Debug/EntradaSaida.exe
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/obj/Debug/EntradaSaida.csproj.AssemblyReference.cache
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/bin/Debug/EntradaSaida.pdb
Udemy/CSharp/Aula1/EntradaSaida/EntradaSaida/bin/Debug/EntradaSaida.exe
Udemy/CSharp/Aula1/EntradaSaida/.vs/EntradaSaida/v17/.suo
Udemy/CSharp/Aula1/EntradaSaida/.vs/EntradaSaida/FileContentIndex/069ee460-d78b-4e80-ad23-4fefc1191b4f.vsidx
Udemy/CSharp/Aula1/Variaveis/.vs/Variaveis/v17/.suo
